.paper{
    height:500px;
    width:500px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left:30%;
}
.paper h1{
    margin:20px;
    color: rgb(84, 146, 255);
}
.paper .input{
    margin: 20px;
}
.btn-field{
    display: flex;
    flex-direction: row;
    margin: 10%;
    margin-left:20px;
    position: absolute;
    bottom: 10px;
}
.btn-field button{
    margin: 40px;
    width:150px;
}

.global{
    margin-top: 10% ;
    align-items: center;
    text-align: center;
}
.global .logout{
    margin-top: 10%;
}
.connected{
    color: rgb(84, 146, 255);
}